<!DOCTYPE html>
<html>
<head>
  <title>村务公开乡镇选择</title>
  <script charset="utf-8" src="/javascripts/jquery-2.2.1.js"></script>
  <link rel='stylesheet' href='/stylesheets/bootstrap/css/bootstrap.css' />
  <link rel='stylesheet' href='/stylesheets/index.css' />
  <script charset="utf-8" src="/stylesheets/bootstrap/js/bootstrap.js"></script>
  
  <script>
   $(function(){
    $('span').click(function(){
      var first = $(this).parent().attr("lxxname");
      var second = $(this).html();
      var ttitle = first + " / " + second;
      location.href='/admin_event/details?id=' + $(this).attr("lxxid") + "&ttitle="+ttitle;
    });
   });
  </script>

</head>
<body>
  <nav class="navbar navbar-default ">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">平原村务公开</a>
      </div>
    <% if(isSuperAdmin==1) {%>
    <% show = "block"%>
    <% } else {%>
    <% show = "none"%>
    <% }%>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse top-nav" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav nav_list">
          <li>
            <a href="/admin_dataman" style="display:<%=show%>">
              用户管理
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li  >
            <a href="/admin_region" style="display:<%=show%>">乡镇管理</a>
          </li>
          <li >
            <a href="/admin_policy" style="display:<%=show%>">惠农政策</a>
          </li>
          <li>
            <a href="/admin_project" style="display:<%=show%>">惠农项目</a>
          </li>
          <li class="active">
            <a href="/admin_event">村务公开</a>
          </li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#" style="padding-right: 0px">
              <%= username %>
              
            </a>
            
          </li>
          <li style="margin-left: 0px">
            <a href="/admin_login/logout" style="color:#337AB7">注销</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <div class="content container">
    <a href="/admin_event/add?hide=0" class="btn btn-success" style="float:right;">撰写文章</a>
  </div>
   
  <div class="content">
  
    <% for (var i = 0;i < countries.length; i++) { %>
    <div class="content countryother">

      <div>
        <h2 class="page-header"> <%= countries[i].name %></h2>  
      </div>
      <% village = countries[i].subs %>
      <div class="sa" lxxname=<%= countries[i].name%>>
      <% for (var j = 0;j < village.length; j++) { %>
        <span lxxid="<%= village[j].id %>"><%= village[j].name %></span>

      <% } %>  
      </div>  

    </div>

    <% }%>
   

  </div>
  
</body>

   
  </html>