<!DOCTYPE html>
<html>
<head>
  <title>村务公开</title>
  <script charset="utf-8" src="/javascripts/jquery-2.2.1.js"></script>
  <link rel='stylesheet' href='/stylesheets/bootstrap/css/bootstrap.css' />
  <link rel='stylesheet' href='/stylesheets/index.css' />
  <script charset="utf-8" src="/stylesheets/bootstrap/js/bootstrap.js"></script>

  <style type="text/css">
  .glyphicon-trash{
    color:#D93448;
  }
  .table_title_inopen{
    text-indent: 20px;
    font-size: 22px;
    font-weight: normal;
    position: relative;
    margin-bottom: 40px;
  }
  .table_title_inopen span{
    position: absolute;
    display: inline-block;
    width: 6px;
    height: 30px;
    background: #ccc;
    left:0;

  }

  </style>
</head>
<body>
 <nav class="navbar navbar-default ">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">平原村务公开</a>
      </div>
    <% if(isSuperAdmin==1) {%>
    <% show = "block"%>
    <% } else {%>
    <% show = "none"%>
    <% }%>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse top-nav" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav nav_list">
          <li>
            <a href="/admin_dataman" style="display:<%=show%>">
              用户管理
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li  >
            <a href="/admin_region" style="display:<%=show%>">乡镇管理</a>
          </li>
          <li >
            <a href="/admin_policy" style="display:<%=show%>">惠农政策</a>
          </li>
          <li>
            <a href="/admin_project" style="display:<%=show%>">惠农项目</a>
          </li>
          <li class="active">
            <a href="/admin_event">村务公开</a>
          </li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#" style="padding-right: 0px">
              <%= username %>
              
            </a>
            
          </li>
          <li style="margin-left: 0px">
            <a href="/admin_login/logout" style="color:#337AB7">注销</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <div style="height:10px;"></div>
  <div class="content" style="background-color: #eee;height: 50px;border-radius: 10px;">
      <span class="back_inopen" onclick="window.location.href='/admin_event/'" style="color:#aaa;">返回</span>
      <span class="address" style="color:#aaa;"><%= ttitle%></span>
  </div>

  <!-- 分类 -->

<% for(var obj in details){ %>


  <div class="container">
    <table class="table table-hover content tableinopen" >
      <caption class="table_title_inopen" ><span></span><%= obj %></caption>
      <thead>
      </thead>
      <% for(var index in details[obj]){ %>
      <tbody>
        <tr>
          <td><%= index%></td>
          <td><%= details[obj][index]["title"] %></td>
          <td><%= new Date(parseInt(details[obj][index]["uploadtime"])).toLocaleString().replace(/年|月/g, "-").replace(/日/g, " ")%></td>
          <td>
            <a href='/admin_event/modify?articleid=<%= details[obj][index]["id"]%>&smallID=<%= smallID%>&ttitle=<%= ttitle%>&hide=0' class="glyphicon glyphicon-edit" ></a>
          </td>
          <td>
            <a href='/admin_event/delete?deleteid=<%= details[obj][index]["id"]%>&smallID=<%= smallID%>&ttitle=<%= ttitle%>' class="glyphicon glyphicon-remove index_delete" ></a>
          </td>
        </tr>
      </tbody>
      <%}%>


    </table>
  </div>

<%}%>
 

</body>

</html>